<%= form_with(model: post, local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <button type='button' onclick="addMore()">Add More Tags(+)</button>
  <div id="js-tag-form-post">
    <%= render "posts/tag_form", form: form %>       
  </div>
  <div id="tag_form_dynamic"></div>

 <% tags= Tag.all %>
  <% if !tags.empty? %>
  <% tags.each do |tag| %>
    <div>
        <%= check_box_tag "post[tag_ids][]", tag.id, post.tags.include?(tag) %>
        #<%= tag.name %>
    </div>
  <% end %>
    <br><br>
  <% end %>
  
   <div class="field">
    <%= form.hidden_field :category_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <script type="text/javascript">
        function addMore(){
    $("#tag_form_dynamic").html("<%= escape_javascript render('posts/tag_form', form: form ) %>");
  }  
</script>
<% end %>
