<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= search_form_for @search, class: "form-inline" do |f| %>
	<div class="form-group">
    	<%= f.label :title_cont, 'Title:' %>
        <%= f.text_field :title_cont, class: "form-control" %><br>
    </div> <!-- Tìm kiếm theo name có chứa ... -->
   
    <%= f.submit 'Search', class: "btn btn-default" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title"%></th>
      <th><%= sort_link @search, :body, "Body"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.user.email %></td>
        <td><%= post.category.name %></td>
        <%if user_signed_in?%>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
